.rich-text
{
    & > *
    {
        display: block;
    }

    h3
    {
        font-size: calc(26 / 16 * 1rem);
        line-height: 1.4;
        font-weight: 400;
        font-family: $body;
        margin-bottom: calc(20 / 16 * 1rem);
    }
    
    p
    {
        margin-top: calc(15 / 16 * 1rem);
        font-size: calc(20 / 16 * 1rem);
        line-height: 1.5;
        font-weight: 300;
        font-family: $body;
    
    }

    .rich-img
    {
        margin-top: calc(60 / 16 * 1rem);
        margin-bottom: calc(60 / 16 * 1rem);
    }

    & > *:nth-child(1)
    {
        margin-top: 0 !important;
    }
}