._container
{
    display: block;
    width: 100%;
    max-width: 1680px;
    padding-left: 100px;
    padding-right: 100px;
    margin: auto;

    &.short
    {
        padding-left: 225px;
        padding-right: 225px;
    }
}

@media screen and (max-width: 1281px) 
{
    ._container
    {
        padding-left: 40px;
        padding-right: 40px;

        &.short
        {
            padding-left: 40px;
            padding-right: 40px;
        }
    }
}

@media screen and (max-width: 479px) 
{
    ._container
    {
        padding-left: 20px;
        padding-right: 20px;

        &.short
        {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}