$body: 'FuturaPT', sans-serif;

.caps
{
    text-transform: uppercase;
}

._74
{
    font-size: clamp(calc(68 / 16 * 1rem), calc(74 / var(--to-rem)), calc(78 / 16 * 1rem));
    line-height: 1;
    font-weight: 300;
    font-family: $body;
}

._60
{
    font-size: clamp(3.75rem, calc(60 / var(--to-rem)), 4rem);
    line-height: 1.1;
    font-weight: 300;
    font-family: $body;
}

._58
{
    font-size: clamp(calc(58 / 16 * 1rem), calc(58 / var(--to-rem)), calc(60 / 16 * 1rem));
    line-height: 1.1;
    letter-spacing: -0.01em;
    font-weight: 300;
    font-family: $body;
}

._44
{
    font-size: calc(44 / 16 * 1rem);
    line-height: 1.1;
    letter-spacing: -0.01em;
    font-weight: 300;
    font-family: $body;
}

._40
{
    font-size: clamp(calc(40 / 16 * 1rem), calc(40 / var(--to-rem)), calc(44 / 16 * 1rem));
    line-height: 1.1;
    letter-spacing: -0.01em;
    font-weight: 300;
    font-family: $body;
}

._38
{
    font-size: clamp(2.375rem, calc(38 / var(--to-rem)), 2.625rem);
    line-height: 1.1;
    letter-spacing: -0.01em;
    font-weight: 300;
    font-family: $body;
}

._32
{
    font-size: clamp(calc(32 / 16 * 1rem), calc(32 / var(--to-rem)), calc(36 / 16 * 1rem));
    line-height: 1.1;
    letter-spacing: -0.01em;
    font-weight: 300;
    font-family: $body;
}

._28
{
    font-size: clamp(1.75rem, calc(28 / var(--to-rem)), 2rem);
    line-height: 1.1;
    font-weight: 300;
    font-family: $body;
}

._24
{
    font-size: clamp(calc(24 / 16 * 1rem), calc(24 / var(--to-rem)), calc(26 / 16 * 1rem));
    line-height: 1.4;
    font-weight: 300;
    font-family: $body;
}

._22
{
    font-size: clamp(calc(22 / 16 * 1rem), calc(22 / var(--to-rem)), calc(24 / 16 * 1rem));
    line-height: 1.4;
    font-weight: 300;
    font-family: $body;
}

._20
{
    font-size: clamp(calc(20 / 16 * 1rem), calc(20 / var(--to-rem)), calc(21 / 16 * 1rem));
    font-weight: 300;
    font-family: $body;
    line-height: 1.2;
    letter-spacing: -0.01em;

    &.bold
    {
        font-weight: 400;
    
    }
}

._18
{
    font-size: clamp(calc(18 / 16 * 1rem), calc(18 / var(--to-rem)), calc(19 / 16 * 1rem));
    font-weight: 300;
    font-family: $body;
}

._16
{
    font-size: clamp(1rem, calc(16 / var(--to-rem)), 1.1rem);
    line-height: 1;
    font-weight: 300;
    font-family: $body;
}

._14
{
    font-size: clamp(.875rem, calc(14 / var(--to-rem)), .975rem);
    line-height: 1;
    font-weight: 500;
    font-family: $body;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

._13
{
    font-size: clamp(calc(13 / 16 * 1rem), calc(13 / var(--to-rem)), calc(15 / 16 * 1rem));
    line-height: 1.4;
    font-weight: 300;
    font-family: $body;
}

._12
{
    font-size: calc(12 / 16 * 1rem);
    line-height: 1;
    font-weight: 500;
    letter-spacing: 0.08em;
    font-family: $body;
}

@media screen and (max-width: 1200px) 
{
    ._74
    {
        font-size: calc(68 / 1200 * 100vw);
    }

    ._60
    {
        font-size: calc(50 / 16 * 1rem);
    }

    ._38
    {
        font-size: calc(32 / 16 * 1rem);
    }

    ._28
    {
        font-size: calc(24 / 16 * 1rem);
    }
}

@media screen and (max-width: 480px) 
{
    ._74
    {
        font-size: calc(35 / 375 * 100vw);
    }

    ._60
    {
        font-size: calc(36 / 16 * 1rem);
    }

    ._38
    {
        font-size: calc(24 / 16 * 1rem);
    }

    ._28
    {
        font-size: calc(24 / 16 * 1rem);
    }
}