.loader
{
    &.hidden
    {
        visibility: hidden;
        pointer-events: none;
    }
}

.loader_text
{
    position: relative;
    z-index: 2;
    display: none;
}

.loader_canvas
{
    position: absolute;
    inset: 0;
    z-index: 0;
    display: block;
}