.loader
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: rgba(var(--black-rgb), 1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;

    &.hidden
    {
        visibility: hidden;
        pointer-events: none;
    }
}

.loader_text
{
    position: relative;
    z-index: 2;
    display: none;
}

.loader_canvas
{
    position: absolute;
    inset: 0;
    z-index: 0;
    display: block;
}