*
{
    box-sizing: border-box;
}

// body, a, button, input, h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure, figcaption, blockquote, dl, dd
// {
//     all: unset;
// }

a
{
    cursor: pointer;
}

body
{
    background-color: var(--white);
    color: var(--black);
    font-size: calc(16 / var(--to-rem));
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    transition: color var(--color-ease), background-color var(--color-ease);
}

main, div
{
    display: block;
} 

main
{
    visibility: hidden;
    overflow: clip;
    position: relative;
    z-index: 2;
}

img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dark-section
{
    background-color: var(--black);
    color: var(--white);

    ::selection
    {
        background-color: var(--white);
        color: var(--black);
        -webkit-text-fill-color: var(--black);
        -webkit-text-stroke-color: transparent;
    }
}

.black-section
{
    background-color: #212121;
    color: var(--white);

    ::selection
    {
        background-color: var(--white);
        color: var(--black);
        -webkit-text-fill-color: var(--black);
        -webkit-text-stroke-color: transparent;
    }
}

.white-section
{
    background-color: #fff;
    color: var(--black);
}

::selection
{
    background-color: var(--black);
    color: var(--white);
    -webkit-text-fill-color: var(--white);
    -webkit-text-stroke-color: transparent;
}