---
const props = Astro.props
---

<div class="galery_tab flex flex-col gap-8 cursor-pointer">
    <div class="flex flex-col gap-4">
        <div class="_14">{props.title}</div>
        <div class="galery_tab-propgress w-full h-px rounded-full relative overflow-clip">
            <div class="galery_tab-propgress-inner absolute inset-0 bg-black"></div>
        </div>
    </div>
    <p class="galery_tab-descr _18 opacity-60 leading-[1.4]">{props.descr}</p>
</div>