---
interface Props
{
    title: string;
    descr: string;
}

const props = Astro.props
---

<div class="flex flex-col gap-5 text-center max-w-[27.25rem]">
    <h4 class="_32">{props.title}</h4>
    <p class="_22 opacity-50 text-balance">{props.descr}</p>
</div>