// .pallete-img
// {
//     width: clamp(calc(600 / 16 * 1rem), calc(600 / var(--to-rem)), calc(700 / 16 * 1rem));
// }

.pallete_item
{
    &::before
    {
        content: '';
        position: absolute;
        inset: -5px;
        border: 1px solid #000;
        opacity: 0;
        transition: opacity var(--color-ease);
        border-radius: 100vw;
        cursor: pointer;
    }

    &:hover 
    {
        &::before
        {
            opacity: .4;
        }
    }

    &.active
    {
        &::before
        {
            opacity: 1;
        }
    }
}

.pallete-img
{
    opacity: 0;
    // transition: opacity var(--color-ease) 0s;

    &.active
    {
        opacity: 1;
        // transition: opacity var(--color-ease) 0.2s;
    }
}

.pallete ._14
{
    font-weight: 400;
}