.phone_title
{
    bottom: calc(100% + 2.1rem);
}

.phone_mask
{
    .background-video
    {
        border-radius: 15%;
    }
}

.phone_tile
{
    &::before
    {
        content:'';
        position: absolute;
        inset: 0;
        border-radius: calc(26 / 16 * 1rem);
        background: linear-gradient(135deg, 
            rgba(255, 255, 255, 0.4) 0%, 
            rgba(255, 255, 255, 0) 41%,
            rgba(255, 255, 255, 0) 57%,
            rgba(255, 255, 255, .1) 100%
        );
    }

    &::after
    {
        content:'';
        position: absolute;
        inset: 1px;
        border-radius: calc(25 / 16 * 1rem);
        background: #323232;
    }
}

#phone-canvas {
    width: 100% !important; 
    // height: 100% !important;
    aspect-ratio: 1/1;
}