.hero_swiper-parent
{
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 15%, black 85%, transparent 100%);
    mask-image: linear-gradient(to right, transparent 0%, black 15%, black 85%, transparent 100%);
}

.hero_nav
{
    --opacity: 1;

    opacity: var(--opacity);
}

.swiper-slide
{
    position: relative;
}

.hero_imgs
{
    .hero_img:nth-child(2)
    {
        z-index: 2;
        clip-path: inset(0 0 0 var(--left, 50%));
    }
}

.hero_drag
{
    background-color: color-mix(in srgb, #AEAEAE, transparent 70%);
    border: 1px solid color-mix(in srgb, #292929, transparent 80%);
    left: 50%;
    bottom: 2rem;
    transform: translateX(-50%);
}

.hero_drag-line
{
    position: absolute;
    left: var(--left, 50%);
    top: 0;
    bottom: 0;
    width: 1px;
    transform: translateX(-50%);
    background: linear-gradient(
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,.3) 17%,
        rgba(0,0,0,.5) 47%,
        rgba(0,0,0,.4) 80%,
        rgba(0,0,0,0) 100%,
    );
}

.hero_indexes-current
{
    height: 1em;
}

.hero_nav-titles
{
    height: 1.1em;
    width: var(--width);
    display: flex;
    justify-content: flex-end;
}

.hero_indexes-numbers
{
    div
    {
        width: var(--width);
        transition: transform var(--ease);
        transform: translateY(calc(-100% * var(--current)));
    }
}

.hero_nav-titles
{
    div
    {
        position: absolute;
        top: 0;
        right: 0;
        text-align: right;
        width: max-content;
        transition: opacity var(--ease) 0s;
        opacity: 0;
        pointer-events: none;
        // transform: translateY(calc(-110% * var(--current)));

        &:nth-child(1)
        {
            position: relative;
            top: auto;
            right: auto;
        }

        &.active
        {
            transition: opacity var(--ease) 0.3s;
            opacity: 1;
            pointer-events: all;
        }
    }
}

.slider-arrow
{
    border: 1px solid currentColor;
    color: color-mix(in srgb, currentColor, transparent 50%);
    transition: color var(--color-ease);

    &:hover
    {
        color: color-mix(in srgb, currentColor, transparent 30%);
    }

    &.white-bg
    {
        background-color: #fff;
    }
}

@media screen and (max-width: 479px) 
{
    .slider-arrow
    {
        color: color-mix(in srgb, currentColor, transparent 50%);
        border-color: color-mix(in srgb, currentColor, transparent 50%);
    }
}

@media screen and (max-width: 992px) 
{
    .hero_nav
    {
        opacity: 1;
    }

    .hero_nav-titles
    {
        div
        {
            right: auto;
            left: 0;
            text-align: left;
        }
    }
}