<div class="bg-blur absolute aspect-[846/467] max-w-[846px] left-1/2 bottom-0 -translate-y-[10%] -translate-x-1/2 bg-[#000] blur-[100px] w-full sm:translate-y-[20%] sm:blur-[50px] sm:w-1/2 sm:opacity-50 sm:hidden pointer-events-none">

</div>