<div class="cursor-wrapper fixed inset-0 flex justify-center items-center pointer-events-none z-30">
    <div class="cursor aspect-square flex justify-center items-center rounded-full bg-black text-white w-28">
        <div class="_14">Next</div>
    </div>
</div>  

<style>
    ._14
    {
        font-weight: 500;
        text-transform: none;
    }
</style>