---
const props = Astro.props
---

<header class="pt-52">
    <div class="_container">
        <h1 class="_60 max-w-[836px]" class:list={[props.descr && 'mb-5', !props.descr && 'mb-20  tablet:mb-10']}>{props.title}</h1>
        {props.descr && <p class="_20 max-w-[836px] mb-20 tablet:mb-10">{props.descr}</p>
        <div class="w-full bg-current h-px opacity-10"></div>
    </div>
</header>