---
import ArrowIcon from '@components/ArrowIcon.astro'

interface Props
{
    rotate?: boolean,
    white?: boolean,
}

const props = Astro.props
---

<div class="slider-arrow flex items-center justify-center rounded-full aspect-square w-14 cursor-pointer" class:list={[props.rotate && 'rotate-180', props.white && 'white-bg']}>
    <ArrowIcon width="w-6" />
</div>