---
import { PortableText } from "astro-portabletext";

interface Props
{
    title: any;
    higlight?: string;
    alignText: string;
    align: string;
    color?: string;
}

const props = Astro.props
---

<div class:list={[props.alignText, props.align]}>
    <div class="_14 subtitle">
        <PortableText value={props.title} />
    </div>
</div>

<style lang="scss" define:vars={{textColor: props.color}} is:global>
    ._14.subtitle
    {
        strong
        {
            color: var(--textColor);
        }
    }
</style>