---
import { PortableText } from "astro-portabletext";

interface Props
{
    title: any;
    higlight?: string;
    alignText: string;
    align: string;
    color?: string;
}

const props = Astro.props
---

<div class:list={[props.alignText, props.align]}>
    <div class="_14 subtitle" style={`--textColor: ${props.color}`}>
        <PortableText value={props.title} />
    </div>
</div>