---
interface Props
{
    title: string;
    h1?: boolean;
    h2?: boolean;
    size?: number;
}

const props = Astro.props
---

{props.h1 && <h1 class="text-center _74">{props.title}</h1>}
{props.h2 && <h2 class="text-center _60 m-auto text-balance" style={props.size && `max-width: ${props.size}px`}>{props.title}</h2>}