---
// import { html } from 'astro/dist/renderer';

interface Props
{
    title: any;
    h1?: boolean;
    h2?: boolean;
    size?: number;
}

const props = Astro.props

const title = props.title.replace(/\n/g, '<br>')
---

{
    props.h1 && <h1 class="text-center _74" >
        <Fragment set:html={title}/>
    </h1>
}

{
    props.h2 && <h2 class="text-center _60 m-auto text-balance" style={props.size && `max-width: ${props.size}px`}>
        <Fragment set:html={title}/>
    </h2>
}