---
// import { html } from 'astro/dist/renderer';
import { PortableText } from "astro-portabletext";

interface Props
{
    title: any;
    h1?: boolean;
    h2?: boolean;
    size?: number;
}

const props = Astro.props
---

{
    props.h1 && <h1 class="text-center _74 title" >
        <PortableText value={props.title} />
    </h1>
}

{
    props.h2 && <h2 class="text-center _60 m-auto text-balance title">
        <PortableText value={props.title} />
    </h2>
}