---
import SliderArrow from "@components/SliderArrow.astro"
import FeaturesItem from "./Features/FeaturesItem.astro"

const props = Astro.props

import { getSanity } from "@lib/api";
import { getRefs } from "@lib/getRefs";

const section = await getSanity('homeFeatures')
const getSliders = await getRefs('features', section[0].slides)

const sortedSliders = section[0].slides.map(galeryItem => 
{
    return getSliders.find(slider => slider._id === galeryItem._ref);
})
---

<section class="dark-section pt-48 tablet:pt-36 sm:pt-24">
    <div class="_container">
        <div class="features flex flex-row gap-5 sm:flex-col sm:gap-10">
            <div class="features_left flex flex-col justify-center gap-48 self-stretch flex-none relative z-10 sm:flex-row sm:justify-between sm:gap-0 sm:w-full sm:items-center">
                <div class="_32 relative z-10 sm:text-28">{section[0].title}</div>
                <div class="flex flex-row gap-2.5 relative z-10">
                    <SliderArrow/>
                    <SliderArrow rotate={true}/>
                </div>
                <div class="absolute bg-black right-0 top-0 bottom-0 w-dvw"></div>
            </div>
            <div class="features_slider">
                <div class="swiper-wrapper flex flex-row">
                    {sortedSliders.map(slide => <FeaturesItem {...slide}/>)}
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .features_left
    {
        width: calc(355 / 16 * 1rem);
    }
    
    @media screen and (max-width: 992px) 
    {
        .features_left
        {
            width: calc(230 / 16 * 1rem);
        }
    }

    @media screen and (max-width: 479px) 
    {
        .features_left
        {
            width: auto;
        }
    }
</style>