---
import Title from '@components/Title.astro'
import HeroSlider from './Hero/HeroSlider.astro'

import { getSanity } from "@lib/api"
import { getRefs } from "@lib/getRefs"

const hero = await getSanity('homeHero')
const getSliders = await getRefs('beforeAfter', hero[0].galery)

const sortedSliders = hero[0].galery.map(galeryItem => 
{
    return getSliders.find(slider => slider._id === galeryItem._ref);
})

const props = Astro.props
---

<header class="pb-48 tablet:pb-36 bg-[#F8F8F8] sm:pb-24">
    <div class="_container">
        <div class="hero pt-48 tablet:pt-40 flex flex-col justify-center sm:pt-24">
            <div class="block mx-auto"> 
                <Title h1={true} title={hero[0].text}/>
            </div>
            <HeroSlider sliders={sortedSliders}/>
        </div>
    </div>
</header>