---
import Title from '@components/Title.astro'
import HeroSlider from './Hero/HeroSlider.astro'

import { getSanity } from "@lib/api"
import { getRefs } from "@lib/getRefs"

const hero = await getSanity('hero')
const getSliders = await getRefs('beforeAfter', hero[0].galery)

const sortedSliders = hero[0].galery.map(galeryItem => 
{
    return getSliders.find(slider => slider._id === galeryItem._ref);
})

const props = Astro.props
---

<header class="pb-48">
    <div class="_container">
        <div class="hero pt-48 flex flex-col justify-center">
            <div class="block mx-auto"> 
                <Title h1={true} title={hero[0].title}/>
            </div>
            <HeroSlider sliders={sortedSliders}/>
        </div>
    </div>
</header>