---
import Title from '@components/Title.astro'
import HeroSlider from './Hero/HeroSlider.astro'

const props = Astro.props
---

<header class="pb-48">
    <div class="_container">
        <div class="hero pt-48 flex flex-col justify-center">
            <div class="block mx-auto"> 
                <Title h1={true} title=`True craftmanship requires real humans. <br/> And a touch of BLNG.`/>
            </div>
            <HeroSlider />
        </div>
    </div>
</header>