---
import video from '@static/CamAnimated hand yin yang.mp4'

const colors = 
[
    {color: '#2F2C25'},
    {color: '#3F382F'},
    {color: '#664D3F'},
    {color: '#876852'},
    {color: '#A48A64'},
    {color: '#D8C5A7'},
    {color: '#D8C5A7'},
    {color: '#EADFC4'},
    {color: '#F5EDD9'},
    {color: '#F2ECE2'},
    {color: '#F6F0E8'},
]
---

<section class="white-section pt-48 pb-48">
    <div class="_container short">
        <div class="flex justify-between gap-20">
            <div class="flex flex-col self-end pb-16 gap-48 max-w-[450px]">
                <div class="block">
                    <div class="_14 capitalize pb-10">DIVERSITY</div>
                    <div class="_60 pb-6">Embracing Diversity</div>
                    <div class="_22 opacity-50">Enhancing the creative journey for jewelry designers with tools to quickly ideate, refine, and visualize their inspirations in real time.</div>
                </div>

                <div class="block">
                    <div class="bg-black h-px opacity-20 w-full mb-5"></div>
                    <div class="pallete_color _14 capitalize pb-8">COLOR</div>
                    <div class="grid grid-cols-7 gap-6">
                        {colors.map(color => <div class="pallete_item relative aspect-square w-full rounded-full" style={`background-color: ${color.color}`}></div>)}
                    </div>
                </div>
            </div>
            <div class="pallete-img block relative z-10 aspect-[668/950] overflow-clip rounded-[20px] flex-none">
                <div class="background-video">
                    <video muted autoplay crossorigin="anonymous" loop playsinline>
                        <source src={video} type="video/mp4" />
                    </video>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    ._14
    {
        font-weight: 400;
    }
</style>