---
import PhoneMask from "./Phone/PhoneMask.astro"
import PhoneTiles from "./Phone/PhoneTiles.astro"
import Title from "@components/Title.astro"
---

<section class="black-section">
    <div class="phone relative h-[350vh]">
        <div class="phone_sticky sticky top-0 h-dvh flex flex-col justify-center items-center overflow-clip">
            <div class="relative w-[340px] h-[705px] self-center">
                <div class="phone_title absolute left-1/2 -translate-x-1/2 w-max">
                    <Title h2={true} title="Experience the magic"/>
                </div>
            </div>
            <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
                <PhoneMask />  
                <PhoneTiles />
            </div>
        </div>
    </div>
</section>