---  
import Subtitle from "@components/Subtitle.astro"
import Title from "@components/Title.astro"
import VideoSectionBg from './VideoSection/VideoSectionBg.astro'

import { Image } from "astro:assets";
import { getSanity } from "@lib/api";
import { getImageUrl } from "@lib/getImage";

const section = await getSanity('homeDesign')


const img = getImageUrl(section[0].image).url()
---

<section class="dark-section pt-48 tablet:pt-36 sm:pt-24" white-trigger section-design>
    <div class="_container">
        <div class="flex flex-col gap-12 mb-24 sm:gap-7 sm:mb-12">
            <Subtitle color="#189AF9" title={section[0].subtitle} alignText="text-center" align="justify-center"/>
            <Title h2={true} size={550} title={section[0].heading}/>
        </div>

        <div class="video-section relative w-full">
            <Image  fetchpriority="high" src={img} alt="Video Section Img" width={1480} height={800} class="relative z-10"/>
            <VideoSectionBg />
        </div>
    </div>
</section>

<style>
    .video-section
    {
        aspect-ratio: 1480 / 900;
    }
</style>