---
import Subtitle from "@components/Subtitle.astro"
import Title from "@components/Title.astro"
import VideoSectionBg from './VideoSection/VideoSectionBg.astro'

import { Image } from "astro:assets";
import { getImage } from "astro:assets";

import videoImg from '@static/video section.png'

---

<section class="dark-section pb-32 pt-48" white-trigger>
    <div class="_container">
        <div class="flex flex-col gap-12 mb-24">
            <Subtitle color="#189AF9" title="Explore" higlight="Design" alignText="text-center" align="justify-center"/>
            <Title h2={true} size={550} title="Experience the magic. Render your dreams."/>
        </div>

        <div class="video-section relative w-full">
            <Image src={videoImg} alt="Video Section Img" width={videoImg.width} height={videoImg.height} class="relative z-10"/>
            <VideoSectionBg />
        </div>
    </div>
</section>

<style>
    .video-section
    {
        aspect-ratio: 1480 / 900;
    }
</style>