.about_descr
{
    max-width: calc(750 / 16 * 1rem);
    max-height: calc(400 / 16 * 1rem);
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: calc(20 / 16 * 1rem);
    column-gap: calc(48 / 16 * 1rem);

    p
    {
        max-width: calc(350 / 16 * 1rem);
        font-size: clamp(calc(20 / 16 * 1rem), calc(20 / var(--to-rem)), calc(21 / 16 * 1rem));
        font-weight: 300;
        font-family: $body;
        line-height: 1.1;
        letter-spacing: -0.01em;
        opacity: .4;

        &:has(strong)
        {
            opacity: 1;
            font-size: clamp(calc(26 / 16 * 1rem), calc(26 / var(--to-rem)), calc(27 / 16 * 1rem));
            font-weight: 300;

            strong
            {
                font-weight: 300;
            }
        }
    }
}

@media screen and (max-width: 780px) 
{
    .about_descr
    {
        max-width: none;
        max-height: none;
    }
}

@media screen and (max-width: 479px) 
{
    .about_descr
    {
        max-width: none;
        max-height: none;

        p
        {
            max-width: none;
            font-size: calc(16 / 16 * 1rem);

            &:has(strong)
            {
                opacity: 1;
                font-size: calc(18 / 16 * 1rem);
                font-weight: 300;

                strong
                {
                    font-weight: 300;
                }
            }
        }
    }
}

