---
import HeroSlide from "./HeroSlide.astro"
import HeroNav from './HeroNav.astro'

const props = Astro.props

const slides = props.sliders 
---

<div class="hero_slider mt-16 relative">
    <div class="hero_swiper-parent h-full">
        <div class="swiper-wrapper h-full noSwipingClass">
            {slides.map((slide, index) => 
            {
                return <HeroSlide {...slide} />
            })}
        </div>
    </div>

    <HeroNav titles={slides}/>
</div>