---
import { getImageUrl } from '@lib/getImage'
import HeroDrag from './HeroDrag.astro'
import HeroImg from './HeroImg.astro'

const props = Astro.props

const imgBefore = getImageUrl(props.leftImage).url()
const imgAfter = getImageUrl(props.rightImage).url()
---

<div class="swiper-slide h-full">
    <div class="hero_imgs block absolute inset-0">
        <HeroImg src={imgBefore} index={props.index} alt="Hero Image Before"/>
        <HeroImg src={imgAfter} index={props.index} alt="Hero Image After"/>
        <HeroDrag />
    </div>
</div>