---
interface Props
{
    src: any,
    alt: string,
    index: number
    paddings: any
}

import { Image } from "astro:assets"
import { getImage } from "astro:assets"

const props = Astro.props

// const img = await getImage({src: props.src, inferSize: true, format: "webp", quality: 90})
---

<div class="hero_img absolute inset-0" class:list={[...props.paddings]}>
    <img src={props.src} alt={props.alt} width={1400} height={1400} aria-grabbed={false} loading="eager" class="select-none object-contain md:object-cover h-full"/>
</div>