<div class="hero_drag-parent absolute inset-0 z-10">
    <div class="hero_drag absolute aspect-square flex items-center justify-center w-10 rounded-full z-10 backdrop-blur">
        <div class="w-5 h-2">
            <svg width="100%" height="100%" viewBox="0 0 20 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15 8V0L20 4L15 8Z" fill="#353535"/>
                <path d="M5 0L5 8L3.49691e-07 4L5 0Z" fill="#353535"/>
            </svg>                
        </div>
    </div>
    <div class="hero_drag-line"></div>
</div>