---
import { Image } from "astro:assets"
import { getImageUrl } from "@lib/getImage"

const props = Astro.props

const img = getImageUrl(props.image).url()
---

<div class="swiper-slide">
    <div class="feature-slide flex flex-col items-center relative w-full h-full pt-[4.5rem] pb-24 text-white text-center">
        <div class="_14 relative z-10 opacity-60 mb-6">{props.subtitle}</div>
        <div class="_32 relative z-10 flex-grow">{props.title}</div>
        <div class="aspect-square w-32 relative z-10">
            <Image src={img} alt={props.title} width={400} height={400} />
        </div>
    </div>
</div>

<style lang="scss">
    ._14
    {
        font-weight: 400;
    }
</style>