---
// import  SpeedInsights  from "@vercel/speed-insights/astro"
import Nav from "@components/Nav/Nav.astro";
// import Burger from "@components/Burger.astro";
// import Loader from "@components/Loader.astro";

interface Props 
{
	title: string;
	barbaPage: string;
	descr: string;
}

const { title } = Astro.props;
const { barbaPage } = Astro.props;
const { descr } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={descr} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body data-transition="wrapper">
		<div class="global">
			<!-- <Loader /> -->
			<Nav />
			<!-- <Burger /> -->
		</div>
		
		<main data-transition="container" data-transition-page={barbaPage}>
			<slot />
		</main>

		<div class="rule"></div>

		<!-- <SpeedInsights /> -->
	</body>
</html>

<style>

</style>

<script>
	import '../styles/styles.scss'
	import app from '../js/App.js'

	const js = new app()
</script>
