---
const props = Astro.props
---

<div class="nav_drop cursor-pointer flex flex-row gap-2 items-center">
    <div class="_16 font-normal">{props.text}</div>
    <div class="nav_drop-arrow w-4 aspect-square flex justify-center items-center">
        <svg width="100%" height="100%" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4 7L8.5 11L13 7" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </div>
</div>